@import "../bootstrap/css/bootstrap.min.css";
@import 'https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');
/*----------- Variables Start----------------*/
/*------- -Variables End ----------------------*/
.simple_transition {
  transition: all 0.2s ease-in-out;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
.navbar .navbar-brand {
  padding: 0;
  line-height: 60px;
}
.navbar .navbar-brand img {
  width: 250px;
}
.navbar .phoneIcon {
  width: 40px;
  line-height: 60px;
  margin-right: 10px;
}
.navbar .phone {
  color: #fff;
  font-size: 24px;
  line-height: 60px;
}
.navbar .phone span {
  color: #f45c5d;
}
.navbar .nav li a {
  font-size: 14px;
}
.navigation {
  text-transform: uppercase;
}
.navigation .container {
  border-bottom: 1px solid #d2d2d2;
}
.navigation .container ul {
  width: 100%;
  list-style-type: none;
}
.navigation .container ul li {
  width: 25%;
  margin: auto;
  text-align: center;
}
.navigation .container ul li a {
  color: #666;
  font-size: 18px;
  display: inline-block;
  width: 100%;
  padding: 0;
}
.navigation .container ul li:hover {
  cursor: pointer;
  background-color: #f7ecec;
  transition: all 0.2s ease-in-out;
}
.navigation .container ul li:hover a {
  color: #f45c5d;
}
.navigation .container ul li.active a {
  color: #f45c5d;
  font-weight: 700;
}
/*------------Common Functions Start----------*/
img {
  width: 100%;
}
.shadow {
  filter: drop-shadow(2px 2px 2px #666);
}
.btn {
  width: 200px;
  color: #373737;
  border: 3px solid #f45c5d !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  background-color: transparent;
}
.btn:hover {
  background-color: #f45c5d !important;
  color: white !important;
}
.glyphicon {
  font-weight: 900 !important;
  font-size: 22px;
  color: #f45c5d;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.glyphicon-chevron-right,
.glyphicon-chevron-left,
.glyphicon-menu-hamburger {
  color: #FFFFFF !important;
}
input {
  display: none;
}
input[type=checkbox] + label {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-y: center;
  cursor: pointer;
}
input[type="checkbox"]:not(:checked) + label {
  background-image: url('img/checkbox_unchecked.png');
  transition: all ease 0.2s;
}
input[type=checkbox]:checked + label {
  background-image: url('img/checkbox_checked.png');
  transition: all ease 0.2s;
}
label {
  font-weight: 400;
  position: relative;
}
.glyphicon-info-sign {
  float: left;
  font-size: 24px;
  color: #2f79ff;
  margin-right: 15px;
  line-height: 1.5;
}
/* ------- Common Functions End --------- */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  min-width: 320px;
  height: 100%;
  position: relative;
}
.content {
  min-height: calc(100vh - 180px);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
p {
  text-align: justify;
  text-indent: 20px;
}
h1 {
  font-size: 24px;
}
h1,
h2,
h3 {
  /*line-height: 40px !important;*/
  text-align: center;
  /* font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 700 !important;
    color: @grey !important;
    border-bottom: 4px solid @light-grey;*/
}
h4 {
  font-family: 'Ubuntu Mono', monospace !important;
  font-weight: 700 !important;
  color: #373737 !important;
}
h4 span {
  font-family: 'Ubuntu Mono', monospace !important;
  font-weight: 400 !important;
  color: #666;
}
.block_header {
  padding-left: 15px;
  padding-right: 15px;
  /*margin-bottom: 30px;*/
}
/*.top_line {
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    font-size: @baseFontSize;
    text-align: center;



    .col-md-2 {
        text-align: right;
        padding: 0px;
    }
}*/
/*.top_menu {
    height: 70px;
    background-color: @grey;
    position: relative;
    line-height: 70px;


    .image_wraper {
        text-align: right;

        img {
            height: 40px;
        }
    }

    .logo {
        height: 60px;

        img {
            height: 100%;
        }
    }


    ul {
        margin-bottom: 0px !important;
        text-align: right;
        height: 70px;

        li {
            display: inline;

            a {
                color: white;
                margin-left: 40px;
                font-size: @baseFontSize + 6px;
                font-weight: 600;

                &:hover {
                    color: @red;
                }
            }
        }
    }
}*/
/*#mobile_menu {
    position: absolute;
    z-index: 16;
    background-color: #373737;
    width: 100%;
    top: 70px;
    left: 0;
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    padding-bottom: 15px;

    ul {
        text-align: center;

        li {
            line-height: 2;

            a {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }
    }
}*/
.slide1 {
  position: relative;
  width: 100%;
}
.slide1 img {
  width: 100%;
}
.slide1 .slider_info {
  position: absolute;
  top: 0px;
  font-size: 33px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  padding-top: 10%;
}
.slide1 .slider_info .btn {
  margin: 10% auto;
  display: block;
}
.slide1 .slider_info .cneter {
  width: 100%;
}
.slide1 .slider_info .cneter a {
  margin: 10px auto;
}
.slide1 .slider_info div {
  font-size: 33px;
  color: #373737;
  text-shadow: #666 2px 2px 4px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.slide1 .slider_info div:last-of-type {
  color: #f45c5d;
  font-size: 30px;
  font-weight: 700;
}
.catalogue {
  padding: 40px;
}
.catalogue .image_wraper {
  position: relative;
}
.catalogue .image_wraper img {
  width: 100%;
}
.catalogue .image_wraper .masking {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20%;
}
.catalogue .image_wraper .masking span {
  display: block;
  position: relative;
  width: 100%;
  top: 70%;
  line-height: 3;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  text-align: center;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.catalogue .image_wraper:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 16px #6f6f6f;
  transition: all 0.2s ease-in-out;
}
.map {
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
  background-color: #f7ecec;
}
.map .container {
  margin-bottom: 30px;
}
footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: white;
  background-color: #373737;
}
footer #copyright {
  font-size: 14px;
}
footer ul {
  margin-bottom: 0px;
}
footer ul li {
  display: inline;
  font-size: 15px;
  margin-right: 20px;
}
footer ul li a {
  color: white;
}
footer ul li a:hover {
  color: white;
  text-decoration: underline !important;
}
.contacts div {
  font-size: 16px;
  line-height: 45px;
}
.contacts div:last-of-type {
  margin-bottom: 10px;
}
.itemDetails {
  padding-top: 35px;
  padding-bottom: 35px;
}
.itemDetails .info {
  background-color: #d9edf7;
  font-size: 14px;
  padding: 21px;
  border-radius: 4px;
  text-align: justify;
}
.itemDetails .info span {
  font-weight: 700;
}
.itemDetails input[type=radio] + label {
  padding: 5px;
  width: 100%;
  border: 2px solid transparent;
  font-weight: 400;
}
.itemDetails input[type=radio] + label img {
  cursor: pointer;
}
.itemDetails input[type=radio] + label span {
  display: inline-block;
  width: 100%;
  background-color: #d2d2d2;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.itemDetails input[type=radio]:checked + label {
  border: 2px solid black;
}
.itemDetails .breadcrumbs {
  width: auto;
  background-color: #d2d2d2;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 30px;
  color: #fff;
  line-height: 14px;
}
.itemDetails .breadcrumbs span {
  margin-left: 15px;
  margin-right: 15px;
}
.itemDetails .breadcrumbs a {
  color: #fff;
}
.itemDetails .breadcrumbs a:hover {
  text-decoration: underline !important;
}
.itemDetails .leftImage img {
  filter: drop-shadow(2px 2px 2px #666);
}
.itemDetails .imageWraper {
  width: 100%;
}
.itemDetails .imageWraper img {
  width: 100%;
}
.itemDetails p {
  color: #666;
  text-align: justify;
  text-indent: 30px;
  line-height: 1.5;
}
.itemDetails h1,
.itemDetails h2,
.itemDetails h3 {
  text-align: left;
  border: none;
  margin-top: 0px;
}
.itemDetails h4 {
  margin-top: 20px;
}
.itemDetails .colors .row,
.itemDetails .sizes .row,
.itemDetails .types .row {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.itemDetails .colors .row .color,
.itemDetails .sizes .row .color,
.itemDetails .types .row .color,
.itemDetails .colors .row .truba,
.itemDetails .sizes .row .truba,
.itemDetails .types .row .truba {
  width: 100%;
  padding: 4px;
}
.itemDetails .colors .row .col-md-1,
.itemDetails .sizes .row .col-md-1,
.itemDetails .types .row .col-md-1,
.itemDetails .colors .row .col-md-2,
.itemDetails .sizes .row .col-md-2,
.itemDetails .types .row .col-md-2,
.itemDetails .colors .row .col-md-3,
.itemDetails .sizes .row .col-md-3,
.itemDetails .types .row .col-md-3 {
  padding: 2px !important;
}
.rolCollections {
  padding: 30px 0px;
  border-bottom: 1px solid #d2d2d2;
}
.rolCollections .panel-default {
  border-radius: 0px;
  border: #f45c5d 2px solid;
  /*#vendors {
            li {
                line-height: 16px;
                margin-top: 10px;
            }
        }*/
}
.rolCollections .panel-default .panel-heading {
  background-image: none;
  background-color: #f45c5d;
  border-radius: 0px;
  border-color: #f45c5d;
  font-weight: 900;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.rolCollections .panel-default .firstLevel li {
  list-style-type: none;
  font-size: 14px;
  line-height: 2;
  margin-left: 16px;
}
.rolCollections .panel-default .firstLevel li a {
  cursor: pointer;
  color: black !important;
  width: 90%;
  display: block;
}
.rolCollections .panel-default .firstLevel li a:hover {
  text-decoration: none;
  color: #f45c5d !important;
}
.rolCollections .panel-default .firstLevel li a:link {
  text-decoration: none;
}
.rolCollections .panel-default .firstLevel li .secondLevel li {
  font-size: 14px;
  padding-left: 5%;
  cursor: pointer;
}
.rolCollections .panel-default .firstLevel li .secondLevel li:hover {
  background-color: #d2d2d2;
}
.rolCollections .panel-default .firstLevel li .secondLevel li a {
  color: #666 !important;
}
.rolCollections .panel-default .firstLevel li .secondLevel li a:hover {
  color: #f45c5d !important;
}
.rolCollections .col-md-4,
.rolCollections .col-sm-6 {
  margin-bottom: 30px;
}
.rolCollections .itemList {
  padding-top: 40px;
  padding-bottom: 40px;
}
.rolCollections .item {
  margin-bottom: 30px;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 30px;
}
.rolCollections .rolCollection a,
.rolCollections .karnizyCollection a {
  display: block;
  width: 100%;
  font-weight: 700;
}
.rolCollections .rolCollection a .collectionName,
.rolCollections .karnizyCollection a .collectionName {
  color: #666;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  line-height: 30px;
  margin-left: 19px;
}
.rolCollections .rolCollection a .startPrice,
.rolCollections .karnizyCollection a .startPrice {
  color: #f45c5d;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin-left: 19px;
}
.rolCollections .rolCollection a .imageWrapper,
.rolCollections .karnizyCollection a .imageWrapper {
  width: 100%;
  overflow: hidden;
}
.rolCollections .rolCollection a img,
.rolCollections .karnizyCollection a img {
  width: 100%;
  transform: scale(0.9);
}
.rolCollections .rolCollection a:hover,
.rolCollections .karnizyCollection a:hover {
  border-bottom-color: #f45c5d;
}
.rolCollections .rolCollection a:hover .collectionName,
.rolCollections .karnizyCollection a:hover .collectionName {
  color: #f45c5d !important;
}
.rolCollections .rolCollection a:hover img,
.rolCollections .karnizyCollection a:hover img {
  transform: scale(1);
}
.description {
  margin-bottom: 40px;
}
.description a {
  color: #f45c5d;
}
.description a:hover {
  text-decoration: underline;
}
.karnizySerii {
  padding-top: 40px;
  padding-bottom: 40px;
}
.karnizySerii .seriaDetails h1 {
  text-align: left;
  margin: 0 !important;
  line-height: 20px !important;
  border: none !important;
}
.karnizySerii .seriaDetails p {
  color: #6f6f6f;
  text-align: justify;
  margin-bottom: 24px;
  margin-top: 20px;
}