@import "../bootstrap/css/bootstrap.min.css";

@import 'https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i&subset=cyrillic';

@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic';

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=cyrillic,cyrillic-ext');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=cyrillic');




/*----------- Variables Start----------------*/

@red: #f45c5d;
@grey: #373737;
@lighter-grey: #666;
@light-grey: #d2d2d2;
@baseFontSize: 14px;
@red-grey: #f7ecec;


/*------- -Variables End ----------------------*/

.simple_transition {
    transition: all 0.2s ease-in-out;
}



//HEADER

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;

    .navbar-brand {
        padding: 0;
        line-height: 60px;

        img {
            width: 250px;
        }
    }

    .phoneIcon {
        width: 40px;
        line-height: 60px;
        margin-right: 10px;
    }

    .phone {
        color: #fff;
        font-size: 24px;
        line-height: 60px;

        span {
            color: @red;
        }
    }

    .nav {
        li {
            a {
                font-size: 14px;
            }
        }
    }
}

.navigation {
    text-transform: uppercase;

    .container {
        border-bottom: 1px solid @light-grey;

        ul {
            width: 100%;
            list-style-type: none;

            li {
                width: 25%;
                margin: auto;
                text-align: center;

                a {
                    color: @lighter-grey;
                    font-size: 18px;
                    display: inline-block;
                    width: 100%;
                    padding: 0;
                }

                &:hover {
                    cursor: pointer;
                    background-color: @red-grey;
                    .simple_transition;
                }

                &:hover a {
                    color: @red;
                }
            }

            li.active {
                a {
                    color: @red;
                    font-weight: 700;
                }
            }
        }
    }
}


/*------------Common Functions Start----------*/

img {
    width: 100%;
}


.shadow {
    filter: drop-shadow(2px 2px 2px @lighter-grey);
}

.btn {
    width: 200px;
    color: @grey;
    border: 3px solid @red !important;
    border-radius: 0 !important;
    font-size: @baseFontSize + 2px !important;
    font-weight: 700 !important;
    background-color: transparent;



    &:hover {
        background-color: @red !important;
        color: white !important;
    }
}

.glyphicon {
    font-weight: 900 !important;
    font-size: @baseFontSize + 8px;
    color: @red;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.glyphicon-chevron-right, .glyphicon-chevron-left, .glyphicon-menu-hamburger {
    color: #FFFFFF !important;
}

input {
    display: none;
}

input[type=checkbox] + label {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-y: center;
    cursor: pointer;
}

input[type="checkbox"]:not(:checked) + label {
    background-image: url('img/checkbox_unchecked.png');
    transition: all ease 0.2s;
}

input[type=checkbox]:checked + label {
    background-image: url('img/checkbox_checked.png');
    transition: all ease 0.2s;
}

label {
    font-weight: 400;
    position: relative;
}

.glyphicon-info-sign {
    float: left;
    font-size: 24px;
    color: #2f79ff;
    margin-right: 15px;
    line-height: 1.5;
}
/* ------- Common Functions End --------- */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    min-width: 320px;
    height: 100%;
    position: relative;
}

.content {
    min-height: calc(~"100vh - 180px");
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:link {
        text-decoration: none;
    }
}

p {
    text-align: justify;
    text-indent: 20px;
}

h1 {
    font-size: 24px;
}

h1, h2, h3 {
    /*line-height: 40px !important;*/
    text-align: center;
    /* font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 700 !important;
    color: @grey !important;
    border-bottom: 4px solid @light-grey;*/
}

h4 {
    font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 700 !important;
    color: @grey !important;

    span {
        font-family: 'Ubuntu Mono', monospace !important;
        font-weight: 400 !important;
        color: @lighter-grey;
    }
}

.block_header {
    padding-left: 15px;
    padding-right: 15px;
    /*margin-bottom: 30px;*/
}
/*.top_line {
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    font-size: @baseFontSize;
    text-align: center;



    .col-md-2 {
        text-align: right;
        padding: 0px;
    }
}*/
/*.top_menu {
    height: 70px;
    background-color: @grey;
    position: relative;
    line-height: 70px;


    .image_wraper {
        text-align: right;

        img {
            height: 40px;
        }
    }

    .logo {
        height: 60px;

        img {
            height: 100%;
        }
    }


    ul {
        margin-bottom: 0px !important;
        text-align: right;
        height: 70px;

        li {
            display: inline;

            a {
                color: white;
                margin-left: 40px;
                font-size: @baseFontSize + 6px;
                font-weight: 600;

                &:hover {
                    color: @red;
                }
            }
        }
    }
}*/
/*#mobile_menu {
    position: absolute;
    z-index: 16;
    background-color: #373737;
    width: 100%;
    top: 70px;
    left: 0;
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    padding-bottom: 15px;

    ul {
        text-align: center;

        li {
            line-height: 2;

            a {
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }
    }
}*/
.slide1 {
    position: relative;
    width: 100%;

    img {
        width: 100%;
    }


    .slider_info {
        position: absolute;
        top: 0px;
        font-size: 33px;
        font-weight: 700;
        background-color: rgba(255,255,255,0.5);
        height: 100%;
        padding-top: 10%;



        .btn {
            margin: 10% auto;
            display: block;
        }

        .cneter {
            width: 100%;

            a {
                margin: 10px auto;
            }
        }

        div {
            font-size: 33px;
            color: @grey;
            text-shadow: @lighter-grey 2px 2px 4px;
            font-family: 'Roboto Slab', serif;
            text-align: center;

            &:last-of-type {
                color: @red;
                font-size: @baseFontSize + 16px;
                font-weight: 700;
            }
        }
    }
}

.catalogue {

    padding: 40px;

    .image_wraper {
        position: relative;

        img {
            width: 100%;
        }

        .masking {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 20%;



            span {
                display: block;
                position: relative;
                width: 100%;
                top: 70%;
                line-height: 3;
                font-size: 20px;
                letter-spacing: 4px;
                font-weight: 700;
                text-align: center;
                color: #000;
                background-color: rgba(255, 255, 255, 0.8);
                cursor: pointer;
            }
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 3px 5px 16px #6f6f6f;
            transition: all 0.2s ease-in-out;
        }
    }
}

.map {
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    background-color: @red-grey;

    .container {
        margin-bottom: 30px;

        
    }
}

footer {
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: white;
    background-color: @grey;

    #copyright {
        font-size: @baseFontSize;
    }

    ul {
        margin-bottom: 0px;

        li {
            display: inline;
            font-size: @baseFontSize + 1px;
            margin-right: 20px;



            a {
                color: white;

                &:hover {
                    color: white;
                    text-decoration: underline !important;
                }
            }
        }
    }
}

.contacts {
    div {
        font-size: 16px;
        line-height: 45px;

        &:last-of-type {
            margin-bottom: 10px;
        }
    }
}

.itemDetails {
    padding-top: 35px;
    padding-bottom: 35px;

    .info {
        background-color: #d9edf7;
        font-size: 14px;
        padding: 21px;
        border-radius: 4px;
        text-align: justify;

        span {
            font-weight: 700;
        }
    }


    input[type=radio] + label {
        padding: 5px;
        width: 100%;
        border: 2px solid transparent;
        font-weight: 400;

        img {
            cursor: pointer;
        }

        span {
            display: inline-block;
            width: 100%;
            background-color: @light-grey;
            line-height: 35px;
            text-align: center;
            cursor: pointer;
        }
    }

    input[type=radio]:checked + label {
        border: 2px solid black;
    }

    .breadcrumbs {
        width: auto;
        background-color: #d2d2d2;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 14px;
        margin-bottom: 30px;
        color: #fff;
        line-height: 14px;

        span {
            margin-left: 15px;
            margin-right: 15px;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    .leftImage {
        img {
            .shadow;
        }
    }

    .imageWraper {
        width: 100%;


        img {
            width: 100%;
        }
    }

    p {
        color: @lighter-grey;
        text-align: justify;
        text-indent: 30px;
        line-height: 1.5;
    }

    h1, h2, h3 {
        text-align: left;
        border: none;
        margin-top: 0px;
    }

    h4 {
        margin-top: 20px;
    }

    .colors, .sizes, .types {
        .row {
            padding-left: 15px !important;
            padding-right: 15px !important;

            .color, .truba {
                width: 100%;
                padding: 4px;
            }

            .col-md-1, .col-md-2, .col-md-3 {
                padding: 2px !important;
            }
        }
    }
}

.rolCollections {
    padding: 30px 0px;
    border-bottom: 1px solid @light-grey;

    .panel-default {
        border-radius: 0px;
        border: @red 2px solid;

        .panel-heading {
            background-image: none;
            background-color: @red;
            border-radius: 0px;
            border-color: @red;
            font-weight: 900;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }



        .firstLevel {
            li {
                list-style-type: none;
                font-size: @baseFontSize;
                line-height: 2;
                margin-left: 16px;

                a {
                    cursor: pointer;
                    color: black !important;
                    width: 90%;
                    display: block;

                    &:hover {
                        text-decoration: none;
                        color: @red !important;
                    }


                    &:link {
                        text-decoration: none;
                    }
                }

                .secondLevel {

                    li {
                        font-size: @baseFontSize;
                        padding-left: 5%;
                        cursor: pointer;


                        &:hover {
                            background-color: @light-grey;
                        }

                        a {
                            color: @lighter-grey !important;

                            &:hover {
                                color: @red !important;
                            }
                        }
                    }
                }
            }
        }
        /*#vendors {
            li {
                line-height: 16px;
                margin-top: 10px;
            }
        }*/
    }

    .col-md-4, .col-sm-6 {
        margin-bottom: 30px;
    }

    .itemList {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .item {
        margin-bottom: 30px;
        border-bottom: 1px solid @light-grey;
        padding-bottom: 30px;
    }

    .rolCollection, .karnizyCollection {

        a {
            display: block;
            width: 100%;
            font-weight: 700;

            .collectionName {
                color: @lighter-grey;
                font-size: 20px;
                font-family: 'Roboto Slab',serif;
                line-height: 30px;
                margin-left: 19px;
            }

            .startPrice {
                color: @red;
                font-family: 'Roboto Slab',serif;
                font-size: 16px;
                margin-left: 19px;
            }


            .imageWrapper {
                width: 100%;
                overflow: hidden;
            }

            img {
                width: 100%;
                transform: scale(0.9);
            }

            &:hover {
                border-bottom-color: @red;

                .collectionName {
                    color: @red !important;
                }

                img {
                    transform: scale(1);
                }
            }
        }
    }
}

.description {
    margin-bottom: 40px;

    a {
        color: @red;

        &:hover {
            text-decoration: underline;
        }
    }
}

.karnizySerii {
    padding-top: 40px;
    padding-bottom: 40px;

    .seriaDetails {


        h1 {
            text-align: left;
            margin: 0 !important;
            line-height: 20px !important;
            border: none !important;
        }

        p {
            color: #6f6f6f;
            text-align: justify;
            margin-bottom: 24px;
            margin-top: 20px;
        }
    }
}
