@import "../bootstrap/css/bootstrap.min.css";

@import 'https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i&subset=cyrillic';

@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic';

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=cyrillic,cyrillic-ext');





/*----------- Variables Start----------------*/

@red: #f45c5d;
@grey: #373737;
@lighter-grey: #6f6f6f;
@light-grey: #d2d2d2;
@baseFontSize: 14px;


/*------- -Variables End ----------------------*/


/*------------Common Functions Start----------*/



.simple_transition {
  transition: all 0.3s ease-in-out;
}

.shadow{
    box-shadow: 2px 2px 7px @lighter-grey;
}

.btn {
    width: 200px;   
    color: @grey;
    border: 3px solid @red !important;
    border-radius: 0 !important;
   font-size: @baseFontSize + 2px !important;
    font-weight: 700 !important;
    background-color: transparent;
    
    

    &:hover {
      background-color: @red !important;
      color: white !important;
    }
}

.glyphicon {
          font-weight: 900 !important;
          font-size: @baseFontSize + 8px;
          color: @red;
          margin-right: 5px;
          vertical-align: text-bottom;
    }

.glyphicon-chevron-right, .glyphicon-chevron-left,  .glyphicon-menu-hamburger {
      color: #FFFFFF !important;

  }




/* ------- Common Functions End --------- */
* {
  font-family: 'Exo 2', sans-serif;
  margin: 0px;
  padding: 0px;
  .simple_transition;
 
}

html {height:100%;} 


body {
    min-width: 320px;
    min-height:100%;
    position:relative;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none !important;
    }

    &:link {
        text-decoration: none !important;
             }

}

 h1, h2, h3 {
  line-height: 40px !important;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace !important;
  font-weight: 700 !important;
  color: @grey !important;
  border-bottom: 4px solid @light-grey;
}

h4 {
  font-family: 'Ubuntu Mono', monospace !important;
  font-weight: 700 !important;
  color: @grey !important;

  span {
      font-family: 'Ubuntu Mono', monospace !important;
      font-weight: 400 !important;
      color: @lighter-grey;
  }
 
}

.block_header {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
}



.top_line {
    position: relative;
    width: 100%;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    font-size: @baseFontSize;
    text-align: center;

    
           
    .col-md-2 {
        text-align: right;
       padding: 0px;
    }
}



.top_menu {
  height: 70px;
  background-color: @grey;
  position: relative;
  line-height: 70px;
      
 
  .image_wraper {
     
      text-align: right;

      img {
        height: 40px;
        }
  }

  .logo{
      height: 60px;

      img{
          height: 100%;
      }
  }

 
  ul {
      margin-bottom: 0px !important;
      
      text-align:right;
      height: 70px;
      
      li {
      display: inline;

      a {
          color: white;
          margin-left: 40px;
          font-size: @baseFontSize + 6px;
          font-weight: 600;

          &:hover {
              color: @red;
            }
         }
        }
    }

}


#mobile_menu {
    position: absolute;
    z-index: 1000;
}


.slide1 {
  position: relative;
  width: 100%;

  img {
      width: 100%;
    }

  
  .slider_info {
      position: absolute;
      top: 0px;
      font-size: @baseFontSize + 16px;
      font-weight: 700;
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      padding-top: 10%;
      
      
      
      .btn {
          margin: 10% auto;
          display: block;
      }

      .cneter {

          width: 100%;

          a {
              margin: 10px auto;
          }
      }

      div {
              font-size: @baseFontSize + 44px;
              color: @grey;
              text-shadow: @lighter-grey 2px 2px 4px;
              font-family: 'Roboto Slab', serif;
              text-align: center;

              &:last-of-type {
                  color: @red;
                  font-size: @baseFontSize + 16px;
                  font-weight: 700;

              }
        }
    }



}
.catalogue {
  padding-top: 40px;

  .image_wraper{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 25px;

         img {
              width: 100%;
                  
            }
    }

  .masking {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            background-color: rgba(244,92,93,0.5) !important;
            padding: 23% 16%;
            

            .btn {
                position: absolute;
                top: 41%;
                left: 25%;
                width: 54%;
                color: #ffffff;
                border-color: #ffffff !important;
               
                &:hover{
                    background-color: #ffffff !important;
                     color: @red !important;
                     
                    
                    }
            }
   
        }

  .images {

      width: 100%;

      .col-md-4{
      
      &:hover .masking {
            visibility: visible;
        }
      &:hover img {
            transform: scale(1.3);

         }
    

     }
   }
}

.map {
  padding-top: 40px;

  .container {
      margin-bottom: 30px;

      .glyphicon {
              vertical-align: sub
            }
      .glyphicon-map-marker {
          vertical-align: initial;
      }


      .row {
      
          div {
              font-size: @baseFontSize + 6px;
              line-height: 52px;
    
                   
      }

          .right {
             text-align: right;
         }

         .time {
             text-align: center;
         }
    }
}
}

footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: white;
  background-color: @grey;

  #copyright {
      font-size: @baseFontSize;
    }

  ul {
    margin-bottom: 0px;

    li {
      display: inline;
      font-size: @baseFontSize + 1px;
      margin-right: 20px;
      
      

      a {
         color: white;

         &:hover {
              color: white;
              text-decoration: underline !important;
            }
        }
    }
  }
}
 
.rolCollections {
    padding-top: 30px;
    

    .panel-default {
        border-radius: 0px;
        border: @red 2px solid;
        
        .panel-heading {
            background-image: none;
            background-color: @red;
            border-radius: 0px;
            border-color: @red;
            font-weight: 900;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }

            li{
                list-style-type: none;
                font-size: @baseFontSize;
                line-height: @baseFontSize + 16px;
                margin-left: 16px;
                
               

               a{
                  cursor: pointer;
                  color: black !important;
                  width: 90%;
                  display: block;

                   &:hover {
                       text-decoration: none;
                       color:@red !important; 
                       
                   }

                  
                  &:link {
                         text-decoration: none;
                      
                    } 
               }

            
              
               

                .secondLevel {
                     

                         li {
                         font-size: @baseFontSize;
                         padding-left: 15%;
                         

                         &:hover {

                             background-color:@light-grey;

                             a{
                                 color: @red !important;

                              
                             }
                         }

                       a {
                           color: @lighter-grey !important;
                       } 

                    }
              }
            }

            

        
    }
}

.contacts {
    div {
        font-size: 16px;
        line-height: 45px;

        &:last-of-type {
            margin-bottom: 10px;
        }
    }


}

.rolDetails {
    padding-top: 35px;
    padding-bottom: 35px;
    
    .imageWrapper {
             width: 100%;
            
            img{
                width: 100%;
            }
        
    } 

    .rolColor {
       .imageWrapper {
            width: 100%;
            /* border: 2px solid black; */
            padding: 4px;

                img {
                    width: 100%;
                    
                }

        }

            input[type=radio] {
            display: none;

            &:checked .imageWrapper {
                border: 2px solid black;
            }
        }
    }

    .imageWraper {
        padding: 5px;
      
          img {
            width: 100%;
            cursor: pointer;
            .shadow;

        }
    }

   h1, h2, h3 {
        text-align: left;
        border: none;
        margin: 0px;
       

    }

    p {
        color: @lighter-grey;
        text-align: justify;
        margin-bottom: 24px;
    }

    .price {
        h2 {
            color: @red !important;
        }
    }

    .colors, .rolSizes  {
        .row {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .col-md-1, .col-md-2 {
            padding: 2px !important;
           
            .rolSize{
                padding: 5px;
                border: 2px solid white;
                transition: all 0s ease !important;
                

                div {
                    
                    cursor:default;
                    text-align: center;
                    font-size: 14px;
                    line-height: 30px;
                    background-color: @light-grey;
                    display: block;
                    
                    
                     }
            }
        
       
      
          }

        

        .active {
            border: 2px solid black;
            transition: all 0s ease-in;

            
        }

        .sizeActive{
            border-color: black !important;
                        
            }

           
            
        }
    
   
        }
    
    
 
.rolCollections {
    padding-top: 40px;

    .col-md-4, .col-sm-6 {
        margin-bottom: 30px;
       

    }
    
    .itemList {
        
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .item {
    
        margin-bottom: 30px;
        border-bottom: 1px solid @light-grey;
        padding-bottom: 30px;
        
    }
    
    .rolCollection{

    a{      
            display: block;
            width: 100%;
            font-weight: 700;
        
       .collectionName {
            color: @lighter-grey;
            font-size: 20px;
            font-family: 'Roboto Slab',serif;
            line-height: 30px;
            margin-left: 19px;
          
            
       }
       .startPrice {
           color:@red;
           font-family: 'Roboto Slab',serif;
           font-size: 16px;
           margin-left: 19px;
           
          
       }
       

    .imageWrapper{
         width: 100%;
         
         overflow: hidden;

       
        }
        img {
            width: 100%;
            transform: scale(0.9); 
            
            
        }
         &:hover{

             .collectionName {
                 color: @red !important;
             }
             
               img {
                   transform: scale(1);
                   
               }

               

           }

        }
    }
    }

.karnizySerii {
    
    padding-top: 40px;
    padding-bottom: 40px;
    
    .seriaDetails {
        
        
        h1 {
            text-align: left; 
            margin: 0 !important;
            line-height: 20px !important;
            border: none !important;
        }
        
        p {
           color: #6f6f6f;
           text-align: justify;
           margin-bottom: 24px;
            margin-top: 20px;
        }
}
}



/*-----------Media Queries Start-----------*/

@media screen and (max-width: 767px) {
    .top_menu {
            height: 50px;
            line-height: 50px;

            .image_wraper img{
                height: 30px;
            }

            .logo {
                    height: 40px;
                 }
            }

    h2, h3{
        font-size: 20px !important;
    }
   
    .catalogue .image_wraper {
            width: 70%;
            margin: 0 auto 20px;
    }

    .contacts {
            div {
                font-size: 14px;
                line-height: 30px;
                }
            }

    .rolDetails {
        h2 {
            margin-top: 24px;
            text-align: center;
        }
        
        
    }
} 


@media screen and (max-width: 991px) {

             .glyphicon {
                           font-size: 20px;
                       }

            .slider .slider_info {
                div {
                    font-size: 36px;

                    &:last-of-type {
                        font-size: 24px;
                    }
                }
                
                .btn {
                    font-size: 14px !important;
                    width: 150px;
                }

            }

           .map .container .row {
               h4 {

               font-size: 16px;
               }
             

                div {
                    text-align: center;
                    font-size: 16px;
                    line-height: 34px;

                  
                }

            }

           footer {
               height: 40px;
               line-height: 40px;

               #copyright {
               text-align: center;
               font-size: 12px;
           }
           }

           
    }
/*-----------Media Queries End-----------*/

