@model application.Domain.Enitites.EavesCollectionItem
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderPartial("Head"); }
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @{ Html.RenderPartial("Header");
        Html.RenderPartial("TopMenu");

    }
    <section class="itemDetails content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs">
                        <a href="~/Eaves/Series">Все серии</a><span> / </span><a href="~/Eaves/Details/@Model.eavesCollectionEntity.Id">Серия @Model.eavesCollectionEntity.Name</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5">
                    <div class="imageWraper">
                        <img src='~/Content/img/karnizy/items/@(Model.eavesItemsEntity.Id).jpg' />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="col-xs-12">
                        <h1>@Model.eavesItemsEntity.Name @Model.eavesCollectionEntity.Name</h1>
                    </div>
                    <div class="col-xs-12">
                        <p>@Model.Description</p>
                    </div>
                    <div class="col-xs-12">
                        <h4>
                            Цвет элементов:
                            <span id="color">
                                 @{ Html.RenderAction("FirstEavesColor", "Eaves", new { Model.Id}); }
                            </span>
                        </h4>
                    </div>
                    <div class="col-xs-12 colors">
                        <div id="colors" class="row">
                            @{ Html.RenderAction("EavesColor", "Eaves", new { Model.Id }); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @{ Html.RenderPartial("Footer"); }

</body>
</html>
