@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    @{ Html.RenderPartial("Head"); }
    <meta name="viewport" content="width=device-width" />.
    <title>Контакты</title>
</head>
<body>
    @{ Html.RenderPartial("Header");
        Html.RenderPartial("TopMenu");

    }
    <section class="contacts content">
        <div class="container">
            <div class="row">
                <header class="block_header">
                    <h3 class="text-uppercase">Контакты:</h3>
                </header>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-4">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    Стройрынок Уручье, ул.Уручская, 13, пом.109А
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-4">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    Вт-Вс: 10:00 - 16:30
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-md-offset-4">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    +375(29)3115153, +375(33)6869687
                </div>
            </div>
        </div>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=n_vb0iZBT9C41zbn0c6ME-9CJUQWWgf4&amp;width=100%&amp;height=530&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

    </section>
    @{ Html.RenderPartial("Footer"); }
</body>



</html>