
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Купить рольшторы в Минске. Классические рольшторы, рольшторы День-Ночь, блэкаут.</title>
    <meta name="Keywords" content="рольшторы, рольшторы в Минске, купить рольшторы, рольшторы день-ночь, рольшторы блэкаут">
    <meta name="description" content="В интернет-магазине WinDecor.by Вы можете купить рольшторы польской фабрики Karten по выгодным ценам. Здесь вы найдете классические рольшторы, рольшторы день-ночь, блэкаут и другие. Огромный выбор тканей и расцветок." />
    @{ Html.RenderPartial("Head"); }
</head>
<body>
    @{ Html.RenderPartial("Header");
    }
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 rolCollections">
                    <div class="col-xs-12 description">
                        <div class="col-xs-6">
                            <h1>Где купить рольшторы?</h1>
                            <p>Все, что Вам нужно, чтобы <strong>купить рольшторы</strong>, это выбрать понравившийся вариант на нашем сайте или посетить наш магазин по адресу: <strong><a href="~/Contacts/Contacts" target="_blank" title="WinDecor.by - адрес">г.Минск, стройрынок Уручье (ул. Уручская 19), пом. 109А.</a></strong></p>
                            <p>Наши квалифицированные консультатнты всегда помогут определиться Вам с выбором и подобрать <strong>рольшторы</strong>, подходящие именно Вашему интерьеру!</p>
                            <p>В нашем магазине Вы найдете широкий выбор рольштор польской фабрики <strong>Karten</strong>, которая, по праву, считается лучшим европейским производителем рольштор. Свою продукцию фабрика <strong>Karten</strong> производит только из материалов самого высокого качества, благодаря чему выбранные Вами <strong>рольшторы</strong> будут радовать Вас не один год.</p>
                        </div>
                        <div class="col-xs-6">
                            <img src="~/Content/img/rolls.jpg" alt="Купить рольшторы в Минске" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 sideBar">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-uppercase">Категории</div>
                                <div class="panel-body">
                                    <div id="categories">
                                        <ul class="firstLevel rolCategoriesFL">
                                            @{  Html.RenderAction("Menu", "Nav");}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-uppercase">Производители</div>
                                <div class="panel-body">
                                    <div id="vendors">
                                        <ul class="firstLevel rolCategoriesFL">
                                            <li>
                                                <a>Karten (Польша)</a>
                                                @*<input type="checkbox" checked id="vendor1" />
                                                    <label for="vendor1">Karten (Польша)</label>*@
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12  col-sm-9  productContent" id="products">
                        @RenderBody()
                    </div>
                </div>
                <div class="col-xs-12 description">
                    <h3>WinDecor.by – высокое качество по доступным ценам.</h3>
                    <p>В нашем магазине представлен широкий выбор классических рольштор в тканях разных фактур и расцветок, а также <strong>рольшторы День-Ночь</strong> и <strong>Блэкаут</strong>.</p>
                    <p>Если Вы хотите полностью контролировать количество света, поступающего в комнату и создать комфортную обстановку, в зависимости от интенсивности света за окном, обратите внимание на <strong>рольшторы День-Ночь</strong>. <strong>Рольшторы День-Ночь</strong> представляют собой полоски прозрачной и непрозрачной ткани, чередуя которые Вы можете добиться такого освещения, которое необходимо Вам в данный момент. К примеру, сопоставив прозрачные полоски вместе, Вы можете создать эффект жалюзи и сделать так, чтобы только часть солнечных лучей поступало в комнату. Это особенно актуально для тех, кто живет на первом этаже и хочет скрыться от посторонних глаз, не жертвуя, при этом, количеством света в комнате. Плюсом рольштор также является и то, что их не нужно постоянно протирать, ведь на них не собирается пыль, в отличие от тех же жалюзи. </p>
                    <p>Если же Вашей целью является полностью затемнить помещение, чтобы ни один лучик света в него не попал, то Вам подойдут <strong>рольшторы Блэкаут</strong>. В зависимости от коллекции, на тыльную сторону <strong>рольшторы Блэкаут</strong> нанесено покрытие, которое либо отражает, либо поглощает солнечные лучи,  за счет чего создается полное 100% затемнение комнаты. <strong>Рольшторы Блэкаут</strong> подойдут для конференц-залов, кинозалов, фотостудий и других помещений, где естественному освещению с улицы не место.</p>
                    <p>Если же Вам нужен более бюджетный вариант, то выбирайте <strong>рольшторы классического типа</strong>. Они представляют собой цельное полотно ткани, различной плотности, цвета и фактуры. В зависимости от выбранной ткани и расцветки, <strong>классические рольшторы</strong> пропускают примерно от 20% до 70% света. Светлые оттенки пропускают больше света и подходят в том случае, если Вы хотите закрыться от яркого и палящего солнца, не уменьшая количество поступающего в комнату света. Это особенно актуально, когда Вы смотрите телевизор или работаете за компьютером. Рольшторы данного типа позволят Вам избавиться от нежелательных бликов на экране. Более тёмные оттенки подойдут в том случае, если Вы хотите частично затемнить комнату, к примеру, чтобы раннее летнее солнышко не разбудило Вас или Вашего ребенка. Рольшторы темных оттенков могут выполнять роль ночных штор, что избавит Вас и Вашу семью от лишних трат, ведь цена на рольшторы значительно ниже цены на тяжелые ночные шторы, а количество вариантов ткани и расцветок обязательно Вас порадует.</p>
                    <p>По размерам бывают <strong>рольшторы мини</strong> и <strong>универсальные</strong>.  К <strong>рольшторам мини</strong> относятся все рольшторы шириной не более 130см и крепятся они на каждую створку окна. В длину они составляют 150 см, что продиктовано стандартной высотой оконных створок. В размерном ряду также присутствуют наименования с высотой в 215 см, предназначенные для балконной двери.  Ширина <strong>универсальных рольштор</strong> начинается от 140см, а в высоту они составляют 175 см. Эти рольшторы более массивны и крепятся они к стене, закрывая, таким образом, весь оконный проем.</p>
                </div>
            </div>
        </div>
    </section>
    @{ Html.RenderPartial("Footer"); }
</body>
</html>
