<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-5 col-md-offset-2">
                <ul>
                    <li><a href="~/Home/Index">Главная</a></li>
                    <li><a href="~/Eaves/Series">Карнизы</a></li>
                    <li><a href="~/Product/List">Рольшторы</a></li>
                   <!-- <li><a href="#">Статьи</a></li>-->
                    <li><a href="~/Contacts/Contacts">Контакты</a></li>
                </ul>
                
            </div>
            <div id="copyright" class="col-xs-12 col-md-5">
                WinDecor &copy; @DateTime.Now.Year Все права защищены
            </div>
        </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/main.js"></script>
