<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@ViewBag.Title</title>
<!-- <link href="~/Content/Site.less" rel="stylesheet" type="text/css" /> -->
<link href="~/Content/Site.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/scripts/less-2.7.1.js"></script>
<meta name="description" content="Карнизы и рольшторы в Минске. Держатели и ухваты для штор. Огромный выбор от лучших европейских поставщиков. Превосходное качетво и низкие цены." />
