@model application.Domain.Enitites.Product
    
<div class='col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4'>
    <div class='rolCollection'>
        <a href="~/Product/Details/@Model.Id">
            <div class='imageWrapper'>
                
                <img src="~/Content/img/RolCollections/@(Model.Id).jpg" rel="nofollow" alt="Рольшторы @Model.Name"/>
            </div>
            <div class="collectionName">@Model.Name</div>
        </a>
    </div>
</div>