
<nav class="top_menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="logo">
                    <a href="~/Home/Index"><img src="~/Content/img/logo.png" alt="Логотип WinDecor" /></a>
                </div>
            </div>
            <div class="hidden-xs hidden-sm col-md-9">
                <ul>
                    <li><a href="~/Home/Index">Домой</a></li>
                    <li><a href="#">Карнизы</a></li>
                    <li><a href="~/Product/List">Рольшторы</a></li>
                   <!-- <li><a href="#">Статьи</a></li>-->
                    <li><a href="~/Contacts/Contacts">Контакты</a></li>
                </ul>
            </div>
            <div class="col-xs-3 col-xs-offset-3 hidden-md hidden-lg">
                <div class="image_wraper">
                    <a id="mobile_menu_icon" data-toggle="collapse" href="#mobile_menu"><img src="~/Content/img/mobile_menu.png" /></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div id="mobile_menu" class="collapse in">
                <ul>
                    <li class="col-xs-12 hidden-md hidden lg"><a href="#">Домой</a></li>
                    <li class="col-xs-12 hidden-md hidden lg"><a href="#">Карнизы</a></li>
                    <li class="col-xs-12 hidden-md hidden lg"><a href="#">Рольшторы</a></li>
                    <li class="col-xs-12 hidden-md hidden lg"><a href="#">Статьи</a></li>
                    <li class="col-xs-12 hidden-md hidden lg"><a href="#">Контакты</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>