@{ }

<section class="mainContent">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
                <div class="panel panel-default">
                    <div class="panel-heading text-uppercase">Категории товаров</div>
                    <div class="panel-body">
                        <div>
                            <ul class="firstLevel">
                                <li>
                                    <div>
                                        <a href="#">Карнизы</a>
                                        <a id="karnizyCollapseIcon" data-toggle="collapse" href="#karnizy" class="glyphicon glyphicon-minus" aria-expanded="true"></a>
                                    </div>
                                    <ul id="karnizy" class="secondLevel collapse in">
                                        <li><a href="#">Кованые круглые</a></li>
                                        <li><a href="#">Kwadro</a></li>
                                        <li><a href="#">Onyx</a></li>
                                        <li><a href="#">Squire Line</a></li>
                                        <li><a href="#">Потолочные</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div>
                                        <a href="#">Рольшторы</a>
                                        <a data-toggle="collapse" href="#rolls" class="glyphicon glyphicon-minus" aria-expanded="true"></a>
                                    </div>
                                    <ul id="rolls" class="secondLevel  collapse in">
                                        <li><a href="#">День-Ночь</a></li>
                                        <li><a href="#">Blackout</a></li>
                                        <li><a href="#">Престиж</a></li>
                                        <li><a href="#">Сара</a></li>
                                        <li><a href="#">Гэлакси</a></li>
                                        <li><a href="#">Бамбус</a></li>
                                        <li><a href="#">Амелия</a></li>
                                        <li><a href="#">Камила</a></li>
                                        <li><a href="#">Топаз</a></li>
                                        <li><a href="#">Вода</a></li>
                                        <li><a href="#">Шантунг</a></li>
                                        <li><a href="#">Классик</a></li>
                                        <li><a href="#">Лён</a></li>
                                        <li><a href="#">Одуванчики</a></li>
                                        <li><a href="#">Цветы</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 productContent"></div>
        </div>
    </div>
</section>

