@model IEnumerable<string>

@{
    Layout = null;
}
<li>@Html.ActionLink("Все", "Series", "Eaves")</li>


@foreach (var link in Model)
{
    <li>
        @Html.RouteLink(link, new
   {
       controller = "Eaves",
       action = "Series",
       category = link
   })
    </li>
}
