@model IEnumerable<string>

@{
    Layout = null;
}
@Html.ActionLink("Все", "Series", "Eaves")


@foreach (var link in Model)
{
    <li>
        @Html.RouteLink(link, new
   {
       controller = "Eaves",
       action = "Series",
       category = link
   })
    </li>
}
