@model application.WebUI.Models.ProductsListViewModel
@{
    ViewBag.Title = "Продукты";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}
@*<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>
@Html.ActionLink("Ссылка", "Edit", "Admin")*@
