@model IEnumerable<application.Domain.Enitites.Rolsize>
@{
    Layout = null;
}
@foreach (var universal in Model)
{
    <div class='col-xs-3 col-md-2'>
        <input type="radio" name="sizesMini" id="@universal.Id" />
        <label for="@universal.Id" class="">
            <span>@universal.Size</span>
        </label>
    </div>
   
}
