@model IEnumerable<application.Domain.Enitites.Rolsize>
@{
    Layout = null;
}

@{int i = 0; }
@foreach (var mini in Model)
{
    if (i == 0)
    {
        <div class='col-xs-3 col-md-2'>
            <input type="radio" name="sizes" id="size-@mini.Id" checked />
            <label for="size-@mini.Id" class="">
                <span>@mini.Size</span>
            </label>
        </div>
    }
    else
    {
        <div class='col-xs-3 col-md-2'>
            <input type="radio" name="sizes" id="size-@mini.Id" />
            <label for="size-@mini.Id" class="">
                <span>@mini.Size</span>
            </label>
        </div>
    }
    i++;
}
