@model IEnumerable<application.Domain.Enitites.Rolsize>
@{
    Layout = null;
}


@foreach (var universal in Model)
{
    <div class='col-xs-3 col-md-2'>
        <input type="radio" name="sizes" id="size-@universal.Id" value="@universal.Id" />
        <label for="size-@universal.Id" >
            <span>@universal.Size</span>
        </label>
    </div>
}
