@model IEnumerable<string>

@{ 
    Layout = null;
}

<li>@Html.ActionLink("Все", "List", "Product") </li>


@foreach (var link in Model)
{
    <li>
        @Html.RouteLink(link, new
   {
       controller = "Product",
       action = "List",
       category = link
   })
</li>
}
